PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://smshinde2005:smshinde2005@ac-rjutmfc-shard-00-00.apbgvnp.mongodb.net:27017,ac-rjutmfc-shard-00-01.apbgvnp.mongodb.net:27017,ac-rjutmfc-shard-00-02.apbgvnp.mongodb.net:27017/?ssl=true&replicaSet=atlas-jmsikc-shard-0&authSource=admin&appName=1
JWT_SECRET=super_secret_recruitment_jwt_token_key_2026_secure
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:5173
